<div class="home" ng-controller="homeCtrl">
    <nav class="navbar navbar-1 navbar-default container-fluid" role="navigation">
        <!--上部开始-->
        <div class="row">
            <!--导航头开始-->
            <div class="navbar-header navbar-header-1 col-sm-4 col-md-3 col-lg-2">
                <span>萝卜多后台管理系统</span>
                <button type="button" class="navbar-toggle navbar-toggle-1" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--导航头结束-->
            <!--右侧导航开始-->
            <div class="nav-right col-sm-8 col-md-9 col-lg-10">
                <a href="">管理员</a>
                <span>|</span>
                <a href="">admin</a>
                <span>|</span>
                <i class="glyphicon glyphicon-off" ng-click="loginOut()"></i>
            </div>
            <!--右侧导航结束-->
        </div>
        <!--上部结束-->
        <!--下部开始-->
        <div class="row">
            <!--左侧栏导航开始-->
            <div class="collapse collapse-1 col-sm-4 col-md-3 col-lg-2" id="example-navbar-collapse">
                <ul class="list-father">
                    <li ng-repeat="x in listFather">
                        <div class="list-head" ng-click="oneSelect()"
                             ng-class="{'list-head-highlight':x.select,'head-highlight-reset':x.highlightReset}">
                            <span>
                                <span class="glyphicon glyphicon-pencil"></span>
                                &nbsp;&nbsp;{{x.name}}
                            </span>
                            <span class="glyphicon"
                                  ng-class="x.select?'glyphicon-chevron-down':'glyphicon-chevron-right'">
                            </span>
                        </div>
                        <ul class="list-child" ng-show="x.select">
                            <li ng-repeat="y in x.listChild | orderBy:num"
                                ng-click="twoSelect()"
                                ng-class="{'list-li-highlight':y.select}"
                                ui-sref="{{y.url}}">
                                {{y.name}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--左侧栏导航结束-->
            <!--下一级view开始-->
            <div class="home-content col-sm-8 col-md-9 col-lg-10">
                <div ui-view="">
                    <h1>Welcome!</h1>
                </div>
            </div>
            <!--下一级view结束-->
        </div>
        <!--下部结束-->
    </nav>
</div>